@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Gill Sans;
    src: url(../resource/fonts/Gill\ Sans\ MT\ Book.ttf);
  }
  @font-face {
    font-family: Gill Sans-Bold;
    src: url(../resource/fonts/Gill\ Sans\ MT\ Bold.ttf);
  }  
#activity {
    margin: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    padding-bottom: 30px;
}
#activityBoxArea {
    margin-bottom: 100px;
    min-height: 200px;
}
#activityBoxAreaTitle {
    font-family: openSans-Bold;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 5px solid #6886c5;
    color: #6886c5;
}
#activityBoxContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    margin-right: 2px;
    margin-left: 25px;
    border-radius: 5px;
    
}
.activityBox {
    cursor: pointer;
    width: 255px;
    height: 340px;
    margin: 25px;
    border-radius: 2px;
    display: flex;
    transition: width 0.5s,height 0.5s,box-shadow 0.2s;
    box-shadow: 2px 2px 5px 2px rgb(73, 73, 73,0.2);
    overflow: hidden;
}
.activityBox:hover {
    box-shadow: 2px 2px 10px 2px rgb(73, 73, 73,0.5);
}
.activityBoxImageContainer {
    width: 45%;
    background-color: #be9e9e;
    display: inline-block;
}
.activityBoxImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activityBoxDetails {
    padding: 5px;
    background-color: rgb(72, 74, 78);
    width: 55%;
    color: #000000;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.activityBoxTitle {
    font-family: Gill Sans-Bold;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.activityBoxAbout {
    font-family: Gill Sans;
    font-size: 16px;
    margin: 10px;
    margin-top: 0;
    font-weight: 500;
    text-align: left;
    display: block;
    overflow: auto;
    height: 100%;
}
.activityBoxAbout::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
.activityBoxAbout::-webkit-scrollbar-track {
    background: transparent; 
  }
.activityBoxAbout::-webkit-scrollbar-thumb {
    background: rgb(116, 116, 116); 
  }
#activityBoxType2 {
    flex-direction: column;
}
#activityBoxType2 .activityBoxImageContainer {
    height: 45%;
    width: 100%;
 }
 #activityBoxType2 .activityBoxDetails {
    height: 55%;
    width: 100%;
    background-color: rgb(255, 255, 255);
 }
 @media only screen and (max-width:1300px) {
     /*
     PC view
     */
 }
 @media only screen and (max-width:660px) {
     /*
     Mobile view
     */
     #activity {
         margin: 5px;
         margin-top: 10px;
     }
     #activityBoxAreaTitle {
         margin:10px;
         font-size: 25px;
         border-bottom: 3px solid;
         padding-bottom: 17px;
     }
     #activityBoxContainer {
         margin-left: 5px;
         margin-right: 5px;
         justify-content: center;
     }
     .activityBox {
        margin-left: 10px;
        margin-right: 10px;
     }
     .activityBox:active {
         box-shadow: 2px 2px 10px 2px rgb(73, 73, 73,0.5);
     }
     .activityBox:hover {
        box-shadow: 2px 2px 5px 2px rgb(73, 73, 73,0.2);
    }
 }
