@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}

#eventBoxArea {
    text-align: center;
    background-color: rgba(219, 219, 219, 0);
    padding: 0px;
    position: relative;
}
#eventBoxContainer {
    width: 100%;
    height: 350px;
    opacity: 1;
}
div.eventBox {
    display: none;
    width: 100%;
    height: 350px;
    box-shadow: 1px 1px 5px 2px rgb(141, 133, 133);
}
.eventBox:hover {
    box-shadow: 4px 4px 10px 5px rgb(141, 133, 133);
}
.eventBox div.eventImageBox {
    width: 45%;
}
.eventImageBox {
    height: 100%;
    background-color: rgb(172, 214, 221);
}
.eventImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutEventBox {
    width: 55%;
    text-align: left;
    padding: 10px;
    background-color: rgb(143, 84, 84);
}
.eventTitle {
    font-size: 35px;
    margin-top: -2px;
    font-family: openSans-Bold;
    color: rgb(255, 255, 255);
}
.eventDetails {
    font-size: 17px;
    font-family: openSans;
    color: rgb(255, 254, 254);
    word-wrap: break-word;
    overflow: auto;
    height: 70%;
    padding-bottom: 5px;
    
}
.eventDetails::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
.eventDetails::-webkit-scrollbar-track {
    background: transparent; 
  }
.eventDetails::-webkit-scrollbar-thumb {
    background: #888; 
  }
.eventNavBTNContainer {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    align-self: center;
    z-index: 2;
    margin-bottom: 10px;
}
.eventNavBTN {
    border: none;
    height: 35px;
    width:35px;
    background-color: rgb(119, 119, 252,0);
    border-radius: 50%;
    font-family: openSans-Bold;
    color: rgb(238, 234, 234);
    vertical-align: middle;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.4;
}
.eventNavBTN:hover {
    background-color: rgba(255, 255, 255, 0.116);
    opacity: 1;
    box-shadow: 1px 1px 5px 1px rgb(141, 133, 133,0.5);
}
.eventCountDetail {
    vertical-align: middle;
    font-family: openSans-Bold;
    color: rgb(82, 75, 75);
    display: none;
}
/*Test Purpose*/
#eventBox1 .aboutEventBox {
    background-color: rgb(153, 125, 231);
}
#eventBox2 .aboutEventBox {
    background-color: rgb(81, 151, 81);
}
/*Animations*/
@keyframes fadeIn {
    0% {
        opacity:0.2;
    } 
    100% {
        opacity:1;
    }
}
@keyframes fadeOut {
    0% {
        opacity:1;
    } 
    100% {
        opacity:0.2;
    }
}
@media only screen and (max-width:950px) {
    #eventBoxContainer {
        width: 100%;
        height: 450px;
        opacity: 1;
    }
    div.eventBox {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 450px;
        box-shadow: 1px 1px 5px 2px rgb(141, 133, 133);
    }
    .eventBox div.eventImageBox {
        width: 100%;
        height: 100%;
    }
    .eventImageBox {
        height: 100%;
        background-color: rgb(172, 214, 221);
    }
    .aboutEventBox {
        height: 40%;
        width: 95%;
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.28) !important;
        opacity: 1;
        align-self: flex-end;
        z-index: 3;
        position: absolute;
        align-items: baseline;
        margin-bottom: 0px;
        box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.28);
    }
    .eventTitle {
        font-size: 25px;
        margin-top: -2px;
        font-family: openSans-Bold;
        color: rgb(255, 255, 255);
        margin: 0;
    }
    .eventDetails {
        font-size: 15px;
        font-family: openSans;
        color: rgb(255, 254, 254);
        word-wrap: break-word;
        overflow: auto;
        height: 80%;
        padding-bottom: 5px;
        margin-top: 0;
    }
    .eventNavBTNContainer {
        padding-top: 10px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        top: 0;
        align-self: center;
        z-index: 2;
        margin-bottom: 10px;
    }
    .eventNavBTN {
        opacity: 0.6;
    }
    .eventNavBTN:hover {
        background-color: rgb(255, 255, 255,0);
        box-shadow: none;
        opacity: 0.6;
    }
    .eventNavBTN:active {
        background-color: rgb(255, 255, 255,0);
        box-shadow: none;
        opacity: 1;
    }
}