@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Merriweather-regular;
    src: url(../resource/fonts/Merriweather-Regular.ttf);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer {
    margin-top: 25px;
    min-height: 50px;
    background-color: rgb(52, 54, 49);
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#footer h3{
    padding: 15px;
    color: #dddddd;
    font-family: openSans-SemiBold;
    font-size: 17px;
}
#footer span {
    font-family: openSans-SemiBold;
    color:white;
    display: block;
    padding: 5px;
    font-size: 15px;
}
#footer h3 a {
    text-decoration: none;
    color: #dddddd;
    cursor: pointer;
}
#footer h3 a:hover {
    text-decoration: underline;
}
@media only screen and (max-width:750px) {
    #footer h3{
        padding: 0px;
        color: #dddddd;
        font-family: openSans-SemiBold;
        font-size: 15px;
        margin: 0;
    }
    #footer span {
        font-family: openSans-SemiBold;
        color:white;
        display: block;
        padding: 5px;
        font-size: 10px;
    }
    #footer h3 a {
        text-decoration: none;
        color: #dddddd;
        cursor: pointer;
    }
    #footer h3 span {
        margin: 0;
        padding: 0;
    }
}