@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}

body {
    margin: 0px;
    }
#header {
    font-family: openSans-Bold;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    z-index: 6;
    background-color: white;
}
#topHeader {
    display: inline-flex;
    justify-content: space-between;
    min-height: 90px;
}
#logoHolder {
    /*margin-top: 25px;
    margin-left: 10px;*/
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 65px;
    width: 215px;
}
#logo {
    height: 100%;
    width: 100%;
}
#subHeader {
    background-color: #4f41ca;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 5px -6px rgb(97, 96, 96,0.6);
}
#headerOptionBoxContainer {
    width: 50%;
    margin-top: 05px;
}
#headerOptionBoxContainer #headerOptionBox {
    height: 40px;
    display: flex;
    /*justify-content: space-evenly;*/
    overflow: hidden;
    padding-left: 20px;
}
#headerOptionBox  a {
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: border-bottom 0.2s,color 0.2s;
    position: relative;
}
#headerOptionBox a:hover {
    border-bottom: 2px solid rgb(206, 206, 206);
    color: rgb(206, 206, 206);
}
#searchBarHolder {
    min-height: 20px;
    margin-top: 05px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    font-family: openSans-Bold;
}
#searchBarHolder input {
    border: 0px solid rgb(11, 22, 182);
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 10px;
    min-height: 30px;
    font-family: openSans-Bold;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#searchBarHolder input::placeholder {
    color: rgb(155, 155, 155);
}
#searchBarHolder button {
    font-family: openSans-Bold;
    margin-bottom: 10px;
    min-height: 30px;
    border: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-radius: 3px;
    border-left: none;
    background-color: #8079c0;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#searchBarHolder button:hover {
    color: rgb(190, 190, 190);
}
#authBox {
    /*padding-top: 25px;
    margin-right: 20px;*/
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#authBox button {
    cursor: pointer;
    border: 2px solid #4f41ca;
    background: transparent;
    font-family: openSans-Bold;
    font-size: 80%;
    color: #4f41ca;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    display: none;
}
#authBox button:hover {
    color: #23188d;
    border: 2px solid #23188d;
}
#headerProfileImageHolder {
    display:none;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
#headerProfileImageHolder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
#authBox div a {
    display:none;
    text-decoration: none;
    color: #6b59d4;
    font-size: 14px;
}
#authBox div a:hover {
    color: #1d1583;
    text-decoration: underline;
}
button {
    outline: none;
}
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
  }
#headerOptionDropdownBTN {
    background: transparent;
    display: none;
    border: none;
    color: white;
    font-weight: 900;
    transition: 0.4s transform;
}
#headerOptionBox #nav-options {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
}
@media only screen and (max-width:1300px) {
    #headerOptionBox #nav-options {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        width: 100%;
    }
    #logoHolder {
        /*margin-top: 25px;
        margin-left: 10px;*/
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        height: 65px;
        width: 215px;
    }
}

@media only screen and (max-width:950px) {
    #headerOptionBox #nav-options {
        min-height: 200px;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        width: 160px;
        box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.2);
        padding: 10px 16px;
        margin-top: 35px;
        position: absolute;
        z-index: 7;
        background-color: #4f41ca;
    }
    #headerOptionDropdownBTN {
        display: inline;
    }
    #logoHolder {
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        height: 45px;
        width: 135px;
    }
    #topHeader {
        display: inline-flex;
        justify-content: space-between;
        min-height: 60px;
    }
    #headerProfileImageHolder {
        display:none;
        width: 45px;
        height: 45px;
        text-align: center;
        vertical-align: middle;
    }
    #authBox button {
        padding: 5px;
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 10px;
        display: none;
    }
    #headerOptionBox a:hover {
        border-bottom: none;
        color: white;
    }
    #headerOptionBox a:active {
        border-bottom: 2px solid rgb(206, 206, 206);
        color: rgb(206, 206, 206);
    }
}
