@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Merriweather-regular;
    src: url(../resource/fonts/Merriweather-Regular.ttf);
}

#newsletter {
    margin-bottom: 50px;
}
#newsletterTitle {
    font-family: openSans-Bold;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 5px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
}
.newsletterBoxTitle {
    font-family: Merriweather-regular;
    padding-bottom: 20px;
    border-bottom: 1px solid #b6b0b0;
    color: #3b3434;
}
#newsletterContainer {
    display: flex;
    min-height: 500px;
    max-height: fit-content;
    margin: 25px;
    border-radius: 5px;
    background-color: rgb(48, 48, 48,0);
}
#newsBoxContainer {
    border-right: 1px solid rgb(184, 180, 180);
    display: inline-block;
    width: 55%;
    padding: 10px;
}
#opportunityBoxContainerArea {
    display: inline-block;
    width: 45%;
    padding: 10px;
}
#newsStripsContainer {
    overflow: auto;
    min-height: 200px;
    max-height: 400px;
}
#newsStripsContainer::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  #newsStripsContainer::-webkit-scrollbar-track {
    background: transparent; 
  }
  #newsStripsContainer::-webkit-scrollbar-thumb {
    background: rgb(194, 181, 181); 
  }
.newsBox {
    border-left: 12px solid #6886c5 !important;
    min-height: 70px;
    overflow:hidden;
    border-radius: 5px;
    background-color: white;
    padding-right: 15px;
    padding-left: 10px;
    box-shadow: 0.1px 0.1px 4px 0.1px rgb(187, 172, 172);
    text-align: left;
    transition: box-shadow 0.2s;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}
.newsBox:hover {
    box-shadow: 2px 2px 4px 2px rgb(187, 172, 172);
}
.newsTextContainer {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}
.newsText,.opportunityText {
    font-family: openSans-Bold;
}
.newsPostDate {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: openSans-SemiBold;
    margin-bottom: 8px;
    margin-right: 15px;
    color: #6b6161;
    text-shadow: .5px 0.5px 2px #f3ecec;
}

/*Opportunity box styling*/
#opportunityBoxContainer {
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}
#opportunityBoxContainer::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
#opportunityBoxContainer::-webkit-scrollbar-track {
    background: transparent; 
  }
#opportunityBoxContainer::-webkit-scrollbar-thumb {
    background: rgb(194, 181, 181); 
  }
.opportunityBox {
    height:fit-content;
    border-radius: 5px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0.1px 0.1px 4px 0.1px rgb(187, 172, 172);
    transition: box-shadow 0.2s;
    cursor: pointer;
}
.opportunityBox:hover {
    box-shadow: 2px 2px 4px 2px rgb(187, 172, 172);
}
.opportunityDeadlineContainer {
    width: 15%;
    min-width: 85px;
    display: inline-block;
    background-color: rgb(4, 128, 212);
    overflow: hidden;
}
.opportunityTextContainerArea {
    width: 85%;
    display: inline-block;
    padding: 5px;
}
.opportunityLastDateHeading {
    font-family: openSans-Bold;
    text-align: center;
    font-size: 11px;
    margin-top: 0px;
    font-family: openSans-SemiBold;
    margin-bottom: 0px;
    color: rgb(240, 240, 240);
}
.opportunityLastDateDay,.opportunityLastDateMonth,.opportunityLastDateYear {
    text-align: center;
    color: rgb(252, 245, 245);
}
.opportunityLastDateDay {
    font-size: 35px;
    font-family: openSans-Bold;
    margin-top: -10px;
}
.opportunityLastDateMonth {
    font-family: openSans-SemiBold;
    margin-top: -10px;
    font-size: 15px;
}
.opportunityLastDateYear {
    font-family: openSans;
    font-size: 12px;
}
.opportunityTextContainer {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
}
.opportunityDeadlineDateContainer {
    display: table;
    height: 100%;
    width: 100%;
}
.opportunityDeadlineDateContainer span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}
@media only screen and (max-width:1300px) {
    /*
    PC view
    */
}
@media only screen and (max-width:950px) {
    /*
    Mobile view
    */
    #newsletterContainer {
        flex-wrap: wrap;
        float: left;
        border: 2px solid yellow;
        margin: 5px;
    }
    #newsBoxContainer {
        border: none;
        width: 100%;
        margin: 0;
    }
    #newsletterTitle {
        margin:10px;
        font-size: 28px;
        border-bottom: 5px solid;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    #newsStripsContainer {
        max-height: 650px;
    }
    #opportunityBoxContainerArea {
        width: 100%;
    }
    #opportunityBoxContainer {
        min-height: 50px;
        max-height: 650px;
    }
    .newsBox {
        font-size: 90%;
    }
    .newsPostDate {
        margin-bottom: 4px;
    }
    .opportunityBox {
        font-size: 90%;
    }
    .opportunityLastDateDay {
        font-size: 25px;
        margin-top: -7px;
    }
    .opportunityLastDateMonth {
        font-family: openSans-SemiBold;
        margin-top: -10px;
        font-size: 15px;
    }
    .opportunityLastDateYear {
        font-family: openSans;
        font-size: 12px;
    }
}