body {
    margin: 0px;
}
.transparentBTN {
    background: none;
    border: none;
    outline: none;
}
#navContainer,#activityContainer {
    border: 2px solid black;
    margin-top: 5px;
}
#header {
    background-color: #265cff;
    color: white;
    min-height: 100px;
    padding: 10px;
}
#navContainer {
    min-height: 35px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-self: auto;
    margin: auto;
    margin-top: 5px;
}
.navLinkContainer {
    border: 1px solid black;
    margin: 3px;
    display: inline-block;
    min-height: 35px;
    width: 20%;
    text-align: center;
}

#activityContainer {
    padding: 4px;
}
div#scrollbox {
    border: 1px solid black;
    margin: 3px;
    max-width: 400px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    /*overflow: auto;
    white-space: nowrap;*/
}
.activityBox {
    border: 1px solid black;
    display: none;
    min-height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: blueviolet;
    /*animation: showFromRight 2s;*/
}
/*#activity1 {
    display: block;
}*/
.boxNav {
    margin: 3px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.boxNavBTN {
    display: inline;
    margin: 5px;
}

@keyframes showFromLeft {
    0% {
        left:-100%;
        opacity:0.7;
    } 
    100% {
        left:0;
        opacity:1;
    }
}
@keyframes showFromRight {
    0% {
        right:-100%;
        opacity:0.7;
    } 
    100% {
        right:0px;
        opacity:1;
    }
}
@keyframes hideToLeft {
    0% {
        left:0;
        opacity:1;
    } 
    100% {
        left:-100%;
        opacity:0.7;
    }
}
@keyframes hideToRight {
    0% {
        right:0;
        opacity:1;
    } 
    100% {
        right:-100%;
        opacity:0.7;
    }
}