@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Bitter;
    src: url(../resource/fonts/Bitter-Regular.ttf);
}
@font-face {
    font-family: Bitter-Bold;
    src: url(../resource/fonts/Bitter-Bold.ttf);
}
#searchPageArea {
    overflow: hidden;
}
body {
    background-color: rgb(187, 187, 187,0.7);
}
#searchResultContainer {
    border-radius: 5px;
    display: inline-block;
    margin: 25px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 50px;
}
.searchResultHeading {
    text-align: center;
    font-family: openSans-SemiBold;
    color: rgb(100, 91, 91);
}
#filterItemContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}
.filterItemHolder {
    display: inline-block;
    min-width: 20px;
    padding: 10px;
}
.filterItemHolder input::placeholder {
    color: rgb(196, 187, 187);
}
.selectorFilter,.inputFilter {
    min-width: 90px;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    color: rgb(59, 63, 63);
    font-size: 15px;
    border-radius: 4px;
    padding: 7px;
    font-family: openSans-Bold;
}
#filterBTN {
    border-radius: 4px;
    padding: 7px;
    min-width: 90px;
    font-size: 15px;
    font-family: openSans-Bold;
    border: none;
    color: white;
    background-color: rgb(114, 94, 226);
    transition: background-color 0.2s;
}
#filterBTN:hover {
    background-color: rgb(39, 19, 151);
}
#searchQuery {
    font-family: Bitter;
}
.searchResultBox {
    height: 90px;
    display: flex;
    justify-content: center;
    
    width: 450px;
    padding-top: 10px;
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    border-bottom: 1px solid #ddd;
}
.searchResultImageHolder {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.searchDetailsHolder {
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-left: 10px;
}
.searchResultImage {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.searchResultName {
    text-decoration: none;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: openSans-Bold;
    font-size: 17px;
    color: rgb(13, 13, 185);
}
.searchResultBranch {
    margin-top: 1px;
    font-family: openSans-SemiBold;
    font-size: 14px;
    color: rgb(77, 72, 72);
}
.searchResultBatch {
    font-family: openSans-SemiBold;
    font-size: 14px;
    color: rgb(77, 72, 72);
}
#loadMoreResultBTN {
    border-radius: 4px;
    padding: 7px;
    min-width: 90px;
    font-size: 15px;
    font-family: openSans-Bold;
    border: none;
    color: white;
    background-color: rgb(80, 54, 231);
    transition: background-color 0.2s;
    margin: 50px;
}
#loadMoreResultBTN:hover {
    background-color: rgb(39, 19, 151);
    
}
#errorInSearchFilter {
    text-align: center;
    color: rgb(206, 51, 51);
    font-family: openSans-Bold;
    margin-top: 0px;
    font-size: 13px;
}
button {
    outline: none;
}