@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Bitter;
    src: url(../resource/fonts/Bitter-Regular.ttf);
}
@font-face {
    font-family: Bitter-Bold;
    src: url(../resource/fonts/Bitter-Bold.ttf);
}
#displayProfileDetail,#profileLoader,#profileNotAvailable,#authUnavailableStatus {
    min-height: 90%;
}
#profileBox {
    min-height: 500px;
    display: flex;
}
.profileBoxDiv {
    display: inline-block;
}
#smallProfileCardHolder {
    width: 30%;
}
#mainProfileHolder {
    width: 70%;
    padding-left: 5px;
}
#smallProfileCard {
    margin: 5px;
    height: 450px;
    width: 98%;
    box-shadow: 1px 1px 5px 1px rgb(158, 158, 158);
    border: 2px 5px solid black;
    transition: box-shadow 0.2s;
}
#smallProfileCard:hover {
    box-shadow: 2px 2px 5px 3px rgb(158, 158, 158);
}
div#smallProfileCardImageHolder {
    height: 45%;
    background-color: #d1c7c7;
}
div#smallProfileCardDetails {
    height: 40%;
}
#smallProfileCardDetails {
    text-align: center;
}
#smallProfileCardName {
    margin-top: -100px;
    font-size: 110%;
    font-family: openSans-Bold;
    color: rgb(39, 37, 37);
}
#smallProfileCardBranch,#smallProfileCardBatch {
    margin-top: -10px;
    font-family: openSans;
    font-size: 14px;
    color: rgb(112, 101, 101);
}
#smallProfileCardContactBox {
    font-family: openSans;
    height: 40px;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(223, 207, 207,0.4);
    color:rgb(87, 87, 87);
    font-size: 70%;
}
div.profileDetailsContacts:hover,#profileCardLinkedin:hover {
    color:rgb(19, 18, 18);
}
div.profileDetailsContacts {
    display: inline-block;
    min-width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Bitter-Bold;
}
/*Fix-ME!*/
#profileCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Main Profile*/
#profileName {
    padding-left: 20px;
    font-size: 100%;
    font-family: openSans-Bold;
    color: rgb(32, 32, 32);
}
h1.mainProfileInfoBoxHeading {
    padding-top: 20px;
    font-family: Bitter-Bold;
    font-size: 110%;
    background-color: rgb(223, 219, 219);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    padding-left: 20px;
    color: rgb(95, 92, 92);
    margin-top: 3px;
    margin-bottom: 3px;
}
.profileUserDetailContaner {
    font-family: openSans-SemiBold;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 0.5px solid #d1c7c7;
    color: rgb(63, 57, 57);
    transition: color 0.2s,box-shadow 0.2s,font-size 0.2s;
}
.profileUserDetailContaner:hover {
    color: rgb(22, 22, 22);
    font-size: 105%;
}
/*edit profile button*/
#editProfileBTNHolder {
    padding-top: 20px;
    text-align: center;
    display: none;
}
#editProfileBTN {
    outline: none;
    font-family: openSans-Bold;
    min-height: 28px;
    min-width: 70px;
    color: rgb(240, 236, 236);
    background-color: rgb(108, 99, 196);
    border: none;
    border-radius: 5px;
    font-size: 70%;
    padding: 8px;
}
#editProfileBTN:hover {
    background-color: rgb(64, 55, 128);
    font-size: 72%;
}
#profileCardLinkedin,#mainProfileUserLinkedIn,#mainProfileUserWebsite {
    cursor: pointer;
    text-decoration: none;
    color:rgb(87, 87, 87);
}
#mainProfileUserLinkedIn:hover,#mainProfileUserWebsite:hover {
    color:rgb(19, 18, 18);
    text-decoration: underline;
}
@media only screen and (max-width:800px) {
    #profileBox {
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
    }
    .profileBoxDiv {
        display: inline-block;
    }
    #smallProfileCardHolder {
        width: 100%;
    }
    #mainProfileHolder {
        width: 100%;
        padding-left: 5px;
    }
    #profileName {
        font-size: 25px;
        text-align: center;
        display: none;
    }
    h1.mainProfileInfoBoxHeading {
        padding-top: 20px;
        font-family: Bitter-Bold;
        font-size: 100%;
        background-color: rgb(223, 219, 219);
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
        padding-left: 20px;
        color: rgb(95, 92, 92);
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .profileUserDetailContaner {
        font-family: openSans-SemiBold;
        font-size: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        border-bottom: 0.5px solid #d1c7c7;
        color: rgb(63, 57, 57);
        transition: color 0.2s,box-shadow 0.2s,font-size 0.2s;
    }
    .profileUserDetailFor {
        /*display: none;*/
        font-size: large;
        color: black;
    }
    .profileUserDetailContaner:hover {
        color: rgb(0, 0, 0);
        box-shadow: none;
        font-size: 100%;
    }
}