@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
body {
    background-color: rgb(187, 187, 187,0.7);
}
#forgotPasswordForm {
    font-family: openSans-Bold;
    border-radius: 5px;
    width: 60%;
    margin: 25px;
    padding: 25px;
    min-height: 500px;
    background-color: white;
    color: rgba(61, 61, 61, 0.836);
}
#forgotPasswordFormFields {
    margin-top: 40px;
    margin-bottom: 40px;
}
#imageHolder i {
    color: rgba(61, 61, 61, 0.836);
}
#forgot_passwordBTN {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 40px;
    min-width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 100%;
    background-color:  #215dbee8;
    color: white;
    font-family: openSans-SemiBold;
    outline: none;
}
#forgot_passwordBTN:hover {
    background-color:  #215dbe;
}

input#reset_email {
    background-color: rgb(143, 143, 143,0.2);
    border: none;
    outline: none;
    color: rgba(61, 61, 61);
    font-family: openSans-Bold;
    font-size: 15px;
    border: 2px rgb(143, 143, 143,0.6) solid;
    border-radius: 5px;
    width: 50%;
    margin-top: 80px;
    padding: 8px;
}
input#reset_email::placeholder {
    color: rgba(61, 61, 61,0.6);
    font-family: openSans-Bold;
}
#passResetErrorHolder {
    font-size: 90%;
    font-weight: 900;
    font-family: openSans;
    position: relative;
    color: rgb(221, 92, 92);
    display: none;
}
#successReset {
    font-family: openSans-Bold;
    color: rgb(69, 155, 20);
    margin-top: 10px;
    display:none;
}
button {
    cursor: pointer;
}
@media only screen and (max-width:850px) {
    input#reset_email {
        width: 70%;
    }
}
@media only screen and (max-width:450px) {
    #forgotPasswordForm {
        font-family: openSans-Bold;
        border-radius: 5px;
        width: 100%;
        margin: 15px;
        padding: 25px;
        min-height: 500px;
        background-color: white;
        color: rgba(61, 61, 61, 0.836);
    }
    input#reset_email {
        background-color: rgb(143, 143, 143,0.2);
        border: none;
        outline: none;
        color: rgba(61, 61, 61);
        font-family: openSans-Bold;
        font-size: 15px;
        border: 2px rgb(143, 143, 143,0.6) solid;
        border-radius: 5px;
        width: 90%;
        margin-top: 80px;
        padding: 8px;
    }
    #forgot_passwordBTN {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 50px;
        min-height: 40px;
        width: 30%;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        background-color:  #215dbee8;
        color: white;
        font-family: openSans-SemiBold;
        outline: none;
        word-wrap: none;
    }
}