@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
  @font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
  }
  @font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
@font-face {
    font-family: Merriweather-regular;
    src: url(../resource/fonts/Merriweather-Regular.ttf);
}
body {
    display: block;
}
.adminContentManager {
    min-height: 100%;
    display: flex;
    margin-bottom: -25px;
}
.adminContentOption {
    width: 20%;
    display: inline-block;
    background-image: linear-gradient(45deg,#283048,#281b49);
}
.adminManageContent {
    width: 80%;
    display: inline-block;
    padding: 25px;
    position: relative;
}
.adminContentOptionLinkContainer {
    border-top: 0.5px solid rgb(223, 220, 220);
}
.adminContentOptionLink {
    border-bottom: 0.2px solid rgb(223, 220, 220,0.2);
    display: block;
    padding: 15px;
    font-family: openSans-Bold;
    text-decoration: none;
    color: rgb(210, 220, 228);
    padding-left: 20px;
    transition: background-color 0.1s;
}
.adminContentOptionLink:hover {
    background-color: rgb(204, 91, 91);
}
.adminManagerTite {
    font-family: Merriweather-regular;
    text-align: center;
    color: rgb(219, 213, 213);
}
.adminContentTite {
    font-family: Merriweather-regular;
    color: rgb(105, 88, 88);
    border-bottom: 1px solid;
    padding-bottom: 25px;
}
#adminInteractedLinkOn {
    background-color: rgb(204, 91, 91);
}
.adminManageContentOptionContainer {
    background-color: rgb(255, 236, 236);
    border-radius: 5px;
}
.adminManageContentOption {
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: openSans-Bold;
    color: rgb(46, 44, 44);
    border: none;
    font-size: 15px;
    outline: none;
    background: none;
    cursor: pointer;
}
.adminManageContentOption:hover {
    border-bottom: 2px solid rgb(25, 12, 204);
    color: rgb(25, 12, 204);
}
#adminManageContentOption {
    border-bottom: 2px solid rgb(25, 12, 204);
    color: rgb(25, 12, 204);
}
.adminManageAvailableContentContainer {
    margin-top: 20px;
    font-family: openSans-SemiBold;
}
.adminManageAvailableContent {
    border-bottom: 1px solid rgb(182, 165, 165);
    padding-left: 20px;
    padding-top: 10px;
}
.adminManageAvailableContentTitle {
    color: #212024;
}
.adminManageAvailableContentOptionBTN {
    margin: 5px;
    background: none;
    border: none;
    font-family: openSans-SemiBold;
    color: #281b49;
    cursor: pointer;
}
.adminManageAvailableContentOptionBTN:hover {
    text-decoration: underline;
}
h3.previewBoxTitle {
    color: rgb(114, 97, 97);
    font-family: openSans-SemiBold;
    text-align: center;
}
.adminManageContentPreviewBox {
    margin:0px auto;
    width: 420px;
}
.adminManageContentNewsPreviewBox {
    width: 80%;
}
.noteForAdmin {
    color: rgb(121, 77, 77);
    font-family: openSans-Bold;
    background-color: #f3f3f5;
    border-radius: 5px;
    padding: 10px;
}
.adminManageContentEditAddContainer {
    display: none;
}
.adminManageContentEditFieldContainer {
    background-color: rgb(245, 240, 240);
    padding: 10px;
    border-radius: 5px;
}
.CenterBTNContainer {
    text-align: center;
}
.adminManageContentField {
    font-size: 19px;
    font-family: openSans-SemiBold;
    color: #38393b;
    padding: 20px;
}
.adminManageContentInputField {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 2px rgb(161, 143, 143) solid;
    width: 300px;
    font-family: openSans-SemiBold;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
}
::placeholder {
    color: #a1a0a3;
}
.adminManageContentSaveBTN {
    border: none;
    padding: 10px;
    font-family: openSans-Bold;
    background-color: #2459bb;
    color: #e1dee7;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
    transition: background-color 0.2s;
}
.adminManageContentSaveBTN:hover {
    background-color: #061430;
}
.adminManageContentSelectImageBTN {
    border: none;
    padding: 10px;
    font-family: openSans-Bold;
    background-color: #c2730c;
    color: #e1dee7;
    border-radius: 5px;
    width: 150px;
    font-size: 17px;
}
.adminManageContentSelectImageBTN:hover {
    background-color: #a5620a;
}
.adminManageContentSetting {
    min-height: 400px;
    display: none;
}
.adminManageContentSetting {
    font-family: openSans-SemiBold;
    color: rgb(116, 110, 110);
}
button {
    outline: none;
}
#contentSubmitErrorHolder {
    font-size: 70%;
    font-weight: 900;
    font-family: openSans;
    position: relative;
    display:none;
    color: rgb(206, 67, 67);
}
#contentUploadStatus {
    font-family: openSans-Bold;
    margin: 25px;
    text-align: center;
    font-size: 18px;
    color: #3a3836;
    display: none;
}
.addNewContentBTN {
    margin-top: 25px;
    padding: 10px;
    font-family: openSans-Bold;
    border: none;
    color: #2459bb;
    background-color: #f0f2f5;
    border-radius: 5px;
    font-size: 15px;
}
.addNewContentBTN:hover {
    background-color: #d5d8db;
}
.loadMoreBTN {
    padding: 8px;
    text-align: center;
    font-family: openSans-Bold;
    border: none;
    color: #e3e5e9;
    background-color: #111499;
    border-radius: 5px;
    font-size: 13px;

}
.loadMoreBTNContainer {
    text-align: center;
    margin-top: 95px;
    margin-bottom: 25px;
}
.loadMoreBTN:hover {
    background-color: #090a4d;
}
/*Animations*/
@keyframes fadeIn {
    0% {
        opacity:0.2;
    } 
    100% {
        opacity:1;
    }
}
@keyframes fadeOut {
    0% {
        opacity:1;
    } 
    100% {
        opacity:0.2;
    }
}
.adminManageAvailableContentAboutBTN:hover .adminManageAvailableAboutContent {
    display: block;
}
.adminManageAvailableAboutContent {
    display: none;
    position: absolute;
    background-color: #f3f0f0;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: openSans-Bold;
    padding: 12px 16px;
    z-index: 1;
}
.adminManageAvailableAboutContent h3 {
    margin: 0px;
    text-align: center;
}