@font-face {
    font-family: openSans;
    src: url(../resource/fonts/OpenSans-Regular.ttf);
  }
@font-face {
  font-family: openSans-Bold;
  src: url(../resource/fonts/opensans_bold.ttf);
}
@font-face {
  font-family: openSans-SemiBold;
  src: url(../resource/fonts/opensans_semibold.ttf);
}
body {
    background-color: rgb(187, 187, 187,0.7);
}
#profileForm {
    font-family: openSans-Bold;
    border-radius: 5px;
    width: 60%;
    margin: 25px;
    padding: 25px;
    min-height: 500px;
    background-color: white;
    color: rgba(61, 61, 61, 0.836);
}
#profileForm p {
    font-family: openSans;
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: rgba(61, 61, 61, 0.836);
    margin:15px;
}
#profileForm p span {
    display: inline-block;
    padding: 20px;
    font-size: 100%;
}
#profileForm p span.label {
    min-width:20%;
    font-family: openSans-Bold;
}
#profileForm p span.label {
    min-width:20%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
#selectImageStatus button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: rgba(61, 61, 61);
}
#profileForm p span.input {
    width: 80%;
}
#profileForm p span.input input::placeholder {
    color: rgba(61, 61, 61,0.6);
    font-family: openSans-Bold;
}
span.input input,span.input select {
    font-family: openSans-Bold;
    padding: 8px;
    background-color: rgb(143, 143, 143,0.2);
    border: none;
    outline: none;
    color: rgba(61, 61, 61);
    font-size: 15px;
    border: 2px rgb(143, 143, 143,0.6) solid;
    width: 100%;
    border-radius: 5px;
}
select option {
    color: rgba(61, 61, 61, 0.836);
    
    margin: 10px;
    
}
#showImage {
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    border: 2px solid white; 
    z-index: -1;
    object-fit: cover;
    cursor: pointer;
}
#selectImageStatus {
    display: block;
}
span button {
    color: rgb(206, 206, 214);
    font-family: openSans-Bold;
    font-size: 100%;
    margin: 10px;
}
#imageHolder {
    margin: 30px;
}
#profileFormFields {
    margin-top: 40px;
    margin-bottom: 40px;
}
#save_userProfleBTN {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 40px;
    min-width: 55%;
    border-radius: 5px;
    border: none;
    font-size: 100%;
    background-color:  #215dbee8;
    color: white;
    font-family: openSans-SemiBold;
    outline: none;
}
#save_userProfleBTN:hover {
    background-color:  #215dbe;
}
#profileFormBox {
    display: flex;
    justify-content: center;
    width: 100%;
}
#profileFormBox div#formContainer {
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}
#profileFormBox div p {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}